/*
All colors used in the app are declared here
*/

$primary-color: #252B43;
$secondary-color: #1C2029;
$color-gray: hsla(0,0%,100%,.05);
$light-color: #fff;
$text-color-dark: #000;
$button-color: #3EBFA0;



$small:        "(max-width: 600px)";
$medium:        "(min-width: 600px)";
$xlarge:        "(max-width: 1300px)"