/*
All colors used in the app are declared here
*/

$primary-color: #36ABC7;
$light-color: #fff;
$text-color: #3D545C;
$text-color-dark: #000;
$button-color: #FCFDFD;



$small:        "(max-width: 600px)";
$medium:        "(min-width: 600px)";
$xlarge:        "(max-width: 1300px)"