@import '../../assets/scss/variables';

button{
    background-color: $button-color;
    color: $text-color;
    outline: 0;
    border: 0;
    padding: .9rem 2rem;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    &:hover{
        background-color: $text-color;
        color: $light-color;
    }
}

