@import '../../assets/scss/variables';

button{
    background-color: $button-color;
    color: $light-color;
    outline: 0;
    border: 0;
    padding: .6rem .9rem;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    &:hover{
        background-color: $light-color;
    }
}



@media #{$small}{
    button{
     padding: .5rem .8rem;
    }
}





