@import '../../assets/scss/variables';


.card{
    background-color: $primary-color;
    border-bottom: 1px solid $light-color;
    width: 60%;
    height: 8vh;
    border-radius: 2px;
    margin: 0 1rem;


    &:nth-last-child(1){
        border:  0;
    }
    & h5{
        font-size: 1rem;
        color: $light-color;
        margin: 1.5rem;
        font-weight: 700;
    }
}
@media #{$small}{
.card{
    & h5{
        margin: .4rem;
    }
}
}