@import '../../assets/scss/variables';


.card{
    // background-color: $light-color;
    border-bottom: 2px solid $light-color;
    width: 60%;
    height: 8vh;
    margin: auto;

    &:nth-last-child(1){
        border:  0;
    }
    & h5{
        font-size: 1rem;
        font-weight: 700;
    }
}