@import '../../assets/scss/variables';
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-top: 1px solid $color-gray;


    i{
        color: $light-color;
    }
    p{
        color: $light-color;
    }

    a {
      font-size: 2rem;
      color: $light-color;
  
      &:hover {
        color: $text-color-dark;
      }
    }
  }

 

@media #{$small}{
  footer{
    padding: 1rem 2rem;
    & a{
      font-size: 1rem;
    }
  }
}